@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Stick+No+Bills:wght@800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Stick No Bills', sans-serif;
    
}

.main{
    height: 100vh;
    width: 100vw;
    background-color: aqua;

    display: grid;
    grid-template-rows: 70px 70px 1fr;
}

.heading,.result{
    background-color:#312e81;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.heading>p{
    font-size: 3rem;
}
.result{
    background-color:#1e40af;
}
.result>p
{
    font-family: 'Anton', sans-serif;
    font-size: 2rem;
}
.content{
    background-color:#c4b5fd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.board{
    height: 400px;
    width:400px;
    display: grid;
    gap:15px;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 1fr;
}
.board>button{
    font-family: 'Lilita One', cursive;
    font-size:5rem;
}
.board>button:hover{
    background-color:#fecdd3;
}

.restart{
    margin-top: 50px;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    background-color: aquamarine;
    font-size:1.3rem;
    transition: 0.1s;
}
.restart:hover{
    background-color: coral;
    color:white;
}
.winner{
    background-color:#22c55e;
    color:white;
}
.draw{
    color:black;
    background-color: #22d3ee;
}