*{
    margin: 0;
    padding: 0;
}

.main{
    height: 100vh;
    width: 100vw;
    background-color: aqua;

    display: grid;
    grid-template-rows: 70px 70px 1fr;
}

.heading,.result{
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading>p{
    font-size: 2.5rem;
}
.result{
    background-color:bisque;
}
.result>p
{
    font-size: 2rem;
}
.content{
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.board{
    height: 400px;
    width:400px;

    display: grid;
    gap:15px;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 1fr;
}
.board>button{
    font-size:5rem;
}
.board>button:hover{
    background-color: antiquewhite;
}

.restart{
    margin-top: 50px;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    background-color: aquamarine;
    font-size:1.3rem;
    transition: 0.1s;
}
.restart:hover{
    background-color: coral;
    color:white;
}
.winner{
    background-color: green;
    color:white;
}
.draw{
    background-color: yellow;
}